<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-3">
    <div class="row">
        <h2>Trade List</h2>
    </div>
    <div class="row mb-2">
        <a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Account</th>
            <th>Type</th>
            <th>Buy Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trade : ${trades}">
            <td style="width: 10%" th:text="${trade.id}"></td>
            <td th:text="${trade.account}"></td>
            <td th:text="${trade.type}"></td>
            <td th:text="${trade.buyQuantity}"></td>
            <td style="width: 15%" class="text-center">
                <a th:href="@{/trade/update/{id}(id=${trade.id})}">Edit</a>&nbsp;|&nbsp;
                <form th:action="@{/trade/delete/{id}(id=${trade.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>